/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

$white:white;
$primaryBlue:rgb(14, 58, 66);
$secondaryBlue:rgb(0, 191, 255);
$gray: rgb(177, 177, 177);
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: $primaryBlue;
    height: 60px;
    width:auto;
    color:$white;
    .marginright10{
        margin-right: 10px;
    }
}
.home{
    color: $white;
    background-image: linear-gradient(180deg,rgba(19, 76, 86),rgba(14, 58, 66,0.65) ),url(./Assets/Web/images/backgroundPic.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
     
    
         span{
          color:$secondaryBlue;
            }

    p{
        font-weight: 100;
        text-align: center;
        margin-top:10px;
        margin-bottom: 30px;
    }
   
.btn{
    color: $secondaryBlue;
    border: $secondaryBlue solid 1px;
    border-radius: none;
}
}
button.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
     border-radius: none !important;
}
 h1{
font-weight: 100; 
font-size: 3em;
 }
.ourService{ 
    color: $white;
     font-weight: 100; 
    background-color: $primaryBlue;
   
   text-align: center;
   h1{  
       color:$secondaryBlue;
       margin:30px 0px 10px 0px;
   }
   p{
       color:$gray;
       margin:10px;
       padding-bottom: 40px;
   }
}
.width20{
    width:20%;
}
.icon{
    padding: 10px;
    border-radius: 50%;
    background-color: $secondaryBlue;
    margin: 10px 10px 10px 70px;
    height: 55px;
    width: 73px;
    svg{
        width:50px;
        color: $primaryBlue;
    }
}
 h3{
        color:$secondaryBlue;
        font-weight: 100; 
        font-size: 1.5em;
    }
    .lightblueBg{
         color:$white;
        background-color: $secondaryBlue;
        h1{ 
            font-size:3em;
            color:$primaryBlue;
            font-weight: 100;
        }
        .centerText{
            text-align: center;
        }
        h3{
            color: $primaryBlue;
        }
        p{
            font-size: 1.2em;
        }
        
    }
    .getInTouchContents {
    background-image: url(./Assets/Web/images/backgroundPic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}